In [14]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")

deaths_df = pd.read_csv("data/time_deaths.csv")
recovered_df = pd.read_csv("data/time_recovered.csv")

In [5]:
totals_df = daily_df[["Confirmed", "Deaths", "Recovered"]].sum()

totals_df = totals_df.reset_index(name="count")
totals_df = totals_df.rename(columns={"index":"condition"})

totals_df

   condition     count
0  Confirmed  84335814
1     Deaths   1911317
2  Recovered  47359111

In [18]:
countries_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]

countries_df = countries_df.groupby("Country_Region").sum().reset_index()

countries_df

      Country_Region  Confirmed  Deaths  Recovered
0        Afghanistan      52513    2201      41727
1            Albania      58316    1181      33634
2            Algeria      99897    2762      67395
3            Andorra       8117      84       7463
4             Angola      17568     405      11146
...              ...        ...     ...        ...
4006         Ukraine          0       0          0
4007           Nauru          0       0          0
4008     New Zealand          0       0          0
4009          Tuvalu          0       0          0
4010  United Kingdom          0       0          0

[4011 rows x 4 columns]

In [41]:
conditions = ["confirmed", "deaths", "recovered"]

def make_global_df(condition):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name=condition)
    df = df.rename(columns={"index": "date"})
    return df

final_df = None

for condition in conditions:
    condition_df = make_global_df(condition)
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
        
final_df

         date  confirmed   deaths  recovered
0     1/22/20        557       17         30
1     1/23/20        657       18         32
2     1/24/20        944       26         39
3     1/25/20       1437       42         42
4     1/26/20       2120       56         56
...       ...        ...      ...        ...
1138   3/5/23  676024901  6877749          0
1139   3/6/23  676082941  6878115          0
1140   3/7/23  676213378  6879038          0
1141   3/8/23  676392824  6880483          0
1142   3/9/23  676570149  6881802          0

[1143 rows x 4 columns]

In [56]:
def make_country_df(country): 
    def make_df(condition):
        df = pd.read_csv(f"data/time_{condition}.csv") 
        df = df.loc[df["Country/Region"] == country] 
        df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"]).sum().reset_index(name=condition) 
        df = df.rename(columns={"index": "date"}) 
        return df 
    final_df = None 
    for condition in conditions: 
        condition_df = make_df(condition) 
        if final_df is None: 
            final_df = condition_df 
        else: 
            final_df = final_df.merge(condition_df)            
    return final_df

df = make_country_df("Iran")
df

         date  confirmed   deaths  recovered
0     1/22/20          0        0          0
1     1/23/20          0        0          0
2     1/24/20          0        0          0
3     1/25/20          0        0          0
4     1/26/20          0        0          0
...       ...        ...      ...        ...
1138   3/5/23    7570232  7570232    7570232
1139   3/6/23    7570743  7570743    7570743
1140   3/7/23    7571352  7571352    7571352
1141   3/8/23    7571996  7571996    7571996
1142   3/9/23    7572311  7572311    7572311

[1143 rows x 4 columns]